<footer class="footer is-flex is-justify-content-center">
  <div class="the-footer columns is-mobile is-gapless">
    <div class="column">
      <ul>
        <li><img class="unfurl-logo" src="/images/unfurl-logo.svg" /></li>
        <li class="mtop">
          <a
            class="footer-blue-font has-text-weight-semibold"
            href="https://onecommons.org/jobs"
            style="line-height: normal; white-space: nowrap"
            >We're hiring!</a
          >
        </li>
        <li>
          <a
            class="privacy-terms has-text-weight-semibold"
            href="https://onecommons.org/privacypolicy"
          >
            Privacy</a
          >
        </li>
        <li>
          <a class="privacy-terms has-text-weight-semibold" href="https://onecommons.org/terms"
            >Terms</a
          >
        </li>
      </ul>
    </div>
    <div class="column">
      <p class="footer-content has-text-weight-semibold">
        <span class="footer-span">A free and open </span
        ><span class="footer-span">source project by </span>
      </p>
    </div>
    <div class="column">
      <ul>
        <li>
          <a href="https://onecommons.org"><img class="onecommons-logo" src="/images/onecommon-logo-sm.svg" /></a>
        </li>
        <li class="mtop">
          <p class="has-text-center copyright has-text-weight-semibold">
            &copy; 2021 OneCommons Co.
          </p>
        </li>
        <li
          class="is-flex is-justify-content-center has-text-center is-justify-content-center-mobile has-text-center-mobile"
        >
          <a class="icon-size" href="https://github.com/onecommons" target="_blank" rel="noopener">
            <i class="fa fab fa-github fa-3x"></i>
          </a>
          <a
            class="icon-size"
            href="https://twitter.com/onecommons"
            target="_blank"
            rel="noopener"
          >
            <i class="fa fab fa-twitter fa-3x"></i>
          </a>
          <a
            class="icon-size"
            href="https://www.linkedin.com/company/onecommons/"
            target="_blank"
            rel="noopener"
          >
          <i class="fa fab fa-linkedin fa-3x"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</footer>
