<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  {% include head.html %}
  <body class="has-navbar-fixed-top">


  <nav id="navbar" class="navbar is-fixed-top has-shadow has-text-weight-bold" role="navigation" aria-label="main navigation">
    <div class="container">
    <div class="navbar-brand">
      <a class="navbar-item" href="/">
        <img src="/images/unfurl-logo.svg" alt="Unfurl" width="112" height="28">
      </a>

      <div id="navbarBurger" class="navbar-burger burger" data-target="navMenuIndex">
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>

    <div id="navMenuIndex" class="navbar-menu">
      <div class="navbar-start">
        <a class="navbar-item" href="/howitworks.html">
          How it works
        </a>
        <a class="navbar-item" href="/comparisons.html">
          Unfurl vs. ...
        </a>
        <a class="navbar-item" href="/docs">
          Documentation
        </a>
      </div>
      <div class="navbar-end">
        <a class="navbar-item" href='/about.html'>
          About
        </a>
        <a class=navbar-item href="https://github.com/onecommons/unfurl" title="Go to the Github project">
               <i class="fa fab fa-github fa-3x"></i>
        </a>
     </div>
    </div>
    </div>
  </nav>
  {{ content }}

      {% include footer.html %}
  </body>
  <script type="text/javascript">
    document.addEventListener('DOMContentLoaded', () => {
    document.querySelectorAll('.navbar-start .navbar-item').forEach( (item) => {
      if (new URL(item.href).pathname == window.location.pathname)
          item.classList.add('is-active');
    });
    // Get all "navbar-burger" elements
    const $navbarBurgers = Array.prototype.slice.call(document.querySelectorAll('.navbar-burger'), 0);
    // Check if there are any navbar burgers
    if ($navbarBurgers.length > 0) {
      // Add a click event on each of them
      $navbarBurgers.forEach( el => {
        el.addEventListener('click', () => {
          // Get the target from the "data-target" attribute
          const target = el.dataset.target;
          const $target = document.getElementById(target);
          // Toggle the "is-active" class on both the "navbar-burger" and the "navbar-menu"
          el.classList.toggle('is-active');
          $target.classList.toggle('is-active');
        });
      });
    }
  });
  </script>
</html>
